.header {
    .navigation{
        display: flex; 
        &-list{
            display: inherit;
            list-style-type: none;
            li{
                margin: 5px;
                border: 1px solid black;
                a{
                    text-decoration: none;
                    padding: 5px; 
                }
                .active{
                    color: orange;
                }
            }
        }
    }
}