* {
  margin: 0;
  padding: 0;
}
 
body{ 
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  margin: 5px;
}


a{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.active{
  color: green;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: not-allowed;
}